CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_ipq40xx_DEVICE_p2w_r619ac-128m=y
CONFIG_HAS_DEVICES=y
CONFIG_TARGET_BOARD="ipq40xx"
CONFIG_TARGET_SUBTARGET="generic"
CONFIG_TARGET_PROFILE="DEVICE_p2w_r619ac-128m"
CONFIG_TARGET_ARCH_PACKAGES="arm_cortex-a7_neon-vfpv4"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe"
CONFIG_CPU_TYPE="cortex-a7+neon-vfpv4"
CONFIG_LINUX_5_4=y
CONFIG_DEFAULT_ath10k-firmware-qca4019-ct=y
CONFIG_DEFAULT_autocore-arm=y
CONFIG_DEFAULT_automount=y
CONFIG_DEFAULT_base-files=y
CONFIG_DEFAULT_block-mount=y
CONFIG_DEFAULT_busybox=y
CONFIG_DEFAULT_coremark=y
CONFIG_DEFAULT_ddns-scripts_aliyun=y
CONFIG_DEFAULT_ddns-scripts_dnspod=y
CONFIG_DEFAULT_default-settings=y
CONFIG_DEFAULT_dnsmasq-full=y
CONFIG_DEFAULT_dropbear=y
CONFIG_DEFAULT_ethtool=y
CONFIG_DEFAULT_firewall=y
CONFIG_DEFAULT_fstools=y
CONFIG_DEFAULT_htop=y
CONFIG_DEFAULT_ipq-wifi-p2w_r619ac=y
CONFIG_DEFAULT_iptables=y
CONFIG_DEFAULT_iwinfo=y
CONFIG_DEFAULT_kmod-ath10k-ct=y
CONFIG_DEFAULT_kmod-gpio-button-hotplug=y
CONFIG_DEFAULT_kmod-ipt-raw=y
CONFIG_DEFAULT_kmod-leds-gpio=y
CONFIG_DEFAULT_kmod-nf-nathelper=y
CONFIG_DEFAULT_kmod-nf-nathelper-extra=y
CONFIG_DEFAULT_kmod-usb-dwc3=y
CONFIG_DEFAULT_kmod-usb-dwc3-qcom=y
CONFIG_DEFAULT_kmod-usb3=y
CONFIG_DEFAULT_libc=y
CONFIG_DEFAULT_libgcc=y
CONFIG_DEFAULT_libustream-openssl=y
CONFIG_DEFAULT_logd=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_samba4-admin=y
CONFIG_PACKAGE_samba4-client=y
CONFIG_PACKAGE_samba4-libs=y
CONFIG_PACKAGE_samba4-server=y
CONFIG_PACKAGE_samba4-utils=y
CONFIG_DEFAULT_luci=y
CONFIG_PACKAGE_luci-app-accesscontrol=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_DEFAULT_ddns-scripts_aliyun=y
CONFIG_DEFAULT_ddns-scripts_dnspod=y
CONFIG_DEFAULT_luci-app-pppoe-server=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-dnsfilter=y
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-jd-dailybonus=y
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-ipsec-vpnd=y
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-unblockmusic=y
CONFIG_UnblockNeteaseMusic_Go=y
CONFIG_UnblockNeteaseMusic_NodeJS=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-nfs=y
CONFIG_PACKAGE_luci-app-netdata=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-vsftpd=y
CONFIG_DEFAULT_luci-app-sfe=y
CONFIG_DEFAULT_luci-app-tinyproxy =y
CONFIG_PACKAGE_luci-app-nlbwmon=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-easymesh=y
CONFIG_PACKAGE_luci-app-qos=y
CONFIG_PACKAGE_luci-app-wrtbwmon=y
CONFIG_DEFAULT_ppp-mod-pppoe=y
CONFIG_PACKAGE_luci-app-fileassistant=y
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-app-advancedsetting=y
# CONFIG_PACKAGE_luci-app-ssr-plus is not set
CONFIG_PACKAGE_zerotier=y
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
CONFIG_PACKAGE_ksmbd-utils=y
CONFIG_PACKAGE_zoneinfo-core=y
CONFIG_PACKAGE_zoneinfo-asia=y
CONFIG_PACKAGE_luci-theme-opentomcat=y
CONFIG_PACKAGE_luci-theme-opentomato=y
CONFIG_PACKAGE_luci-theme-atmaterial=y

# 
# PHP
# 
CONFIG_PACKAGE_php7=y
CONFIG_PACKAGE_php7-cgi=y
CONFIG_PACKAGE_php7-cli=y
CONFIG_PACKAGE_php7-fastcgi=y
# CONFIG_PACKAGE_php7-fpm is not set
# CONFIG_PACKAGE_php7-mod-bcmath is not set
# CONFIG_PACKAGE_php7-mod-calendar is not set
# CONFIG_PACKAGE_php7-mod-ctype is not set
CONFIG_PACKAGE_php7-mod-curl=y
# CONFIG_PACKAGE_php7-mod-dom is not set
CONFIG_PACKAGE_php7-mod-exif=y
CONFIG_PACKAGE_php7-mod-fileinfo=y
# CONFIG_PACKAGE_php7-mod-filter is not set
# CONFIG_PACKAGE_php7-mod-ftp is not set
CONFIG_PACKAGE_php7-mod-gd=y
# CONFIG_PACKAGE_php7-mod-gettext is not set
# CONFIG_PACKAGE_php7-mod-gmp is not set
CONFIG_PACKAGE_php7-mod-iconv=y
# CONFIG_PACKAGE_php7-mod-imap is not set
# CONFIG_PACKAGE_php7-mod-intl is not set
CONFIG_PACKAGE_php7-mod-json=y
# CONFIG_PACKAGE_php7-mod-ldap is not set
CONFIG_PACKAGE_php7-mod-mbstring=y
CONFIG_PACKAGE_php7-mod-mysqli=y
CONFIG_PACKAGE_php7-mod-mysqlnd=y
CONFIG_PACKAGE_php7-mod-opcache=y
CONFIG_PACKAGE_php7-mod-openssl=y
# CONFIG_PACKAGE_php7-mod-pcntl is not set
CONFIG_PACKAGE_php7-mod-pdo=y
CONFIG_PACKAGE_php7-mod-pdo-mysql=y
# CONFIG_PACKAGE_php7-mod-pdo-pgsql is not set
CONFIG_PACKAGE_php7-mod-pdo-sqlite=y
# CONFIG_PACKAGE_php7-mod-pgsql is not set
# CONFIG_PACKAGE_php7-mod-phar is not set
CONFIG_PACKAGE_php7-mod-session=y
# CONFIG_PACKAGE_php7-mod-shmop is not set
CONFIG_PACKAGE_php7-mod-simplexml=y
# CONFIG_PACKAGE_php7-mod-snmp is not set
# CONFIG_PACKAGE_php7-mod-soap is not set
# CONFIG_PACKAGE_php7-mod-sockets is not set
CONFIG_PACKAGE_php7-mod-sqlite3=y
# CONFIG_PACKAGE_php7-mod-sysvmsg is not set
# CONFIG_PACKAGE_php7-mod-sysvsem is not set
# CONFIG_PACKAGE_php7-mod-sysvshm is not set
# CONFIG_PACKAGE_php7-mod-tokenizer is not set
# CONFIG_PACKAGE_php7-mod-xml is not set
# CONFIG_PACKAGE_php7-mod-xmlreader is not set
# CONFIG_PACKAGE_php7-mod-xmlwriter is not set
CONFIG_PACKAGE_php7-mod-zip=y
# CONFIG_PACKAGE_php7-pecl-dio is not set
# CONFIG_PACKAGE_php7-pecl-http is not set
# CONFIG_PACKAGE_php7-pecl-krb5 is not set
# CONFIG_PACKAGE_php7-pecl-libevent is not set
# CONFIG_PACKAGE_php7-pecl-mcrypt is not set
# CONFIG_PACKAGE_php7-pecl-propro is not set
# CONFIG_PACKAGE_php7-pecl-raphf is not set
CONFIG_PACKAGE_php7-pecl-redis=y
# end of PHP

#
# Passwll Configuration
#
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Brook=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Dns2socks=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_NaiveProxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_PDNSD=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_GO=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
# end of Passwll Configuration
